HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/resources/custom.properties
*.h
nodeenv-18/src/node-v18.16.0-darwin-arm64/share/systemtap/tapset/node.stp
*.1
nodeenv-18/src/node-v18.16.0-darwin-arm64/share/doc/node/gdbinit
*.py
nodeenv-18/src/node-v18.16.0-darwin-arm64/lib/node_modules/npm/node_modules/yallist/iterator.js
nodeenv-18/src/node-v18.16.0-darwin-arm64/lib/node_modules/npm/node_modules/yallist/yallist.js
nodeenv-18/src/node-v18.16.0-darwin-arm64/lib/node_modules/npm/node_modules/yallist/LICENSE
nodeenv-18/src/node-v18.16.0-darwin-arm64/lib/node_modules/npm/node_modules/wrappy/wrappy.js
nodeenv-18/src/node-v18.16.0-darwin-arm64/lib/node_modules/npm/node_modules/wrappy/LICENSE
nodeenv-18/src/node-v18.16.0-darwin-arm64/lib/node_modules/npm/node_modules/wide-align/align.js
nodeenv-18/src/node-v18.16.0-darwin-arm64/lib/node_modules/npm/node_modules/which/LICENSE
*.ts
*.js
